/* scrollbar */
@import "simplebar-react/dist/simplebar.min.css";

.movie-card {
  position: relative; /* Required for button container positioning */
  overflow: hidden; /* Optional for hover effect with background changes */
  transition: all 0.3s ease-in-out;
}

.movie-card.hover {
  transform: scale(1.5);
}

.movie-details {
  /* Style movie details */
}

.button-container {
  position: absolute; /* Position buttons within the card */
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.movie-card.hovered .button-container {
  opacity: 1;
}

button {
  /* Style buttons */
}
